---
const {} = Astro.props;
---

<section class="p-12 relative">
    <div class="flex items-center gap-4 mb-10 text-center">
        <div class="h-10 w-10">
            <img src="/svg/dots.svg" alt="" />
        </div>
        <p class="text-2xl font-thin text-gray-900 dark:text-white">
            Our Partners
        </p>
    </div>
    <div
        class="w-full inline-flex flex-nowrap scrollbar-hidden overflow-x-scroll md:overflow-x-hidden"
    >
        <ul
            class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-2xl animate-infinite-scroll"
        >
            <li>
                <img
                    src="/images/facebook.png"
                    alt="Facebook"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/netflix.png"
                    alt="netflix"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/google.png"
                    alt="google"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/flipkart.png"
                    alt="flipkart"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/amazon.png"
                    alt="amazon"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/prime.png"
                    alt="prime"
                    height="40px"
                    width="80px"
                />
            </li>
        </ul>
        <ul
            class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-2xl animate-infinite-scroll"
        >
            <li>
                <img
                    src="/images/facebook.png"
                    alt="Facebook"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/netflix.png"
                    alt="netflix"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/google.png"
                    alt="google"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/flipkart.png"
                    alt="flipkart"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/amazon.png"
                    alt="amazon"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/prime.png"
                    alt="prime"
                    height="40px"
                    width="80px"
                />
            </li>
        </ul>
        <ul
            class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-2xl animate-infinite-scroll"
        >
            <li>
                <img
                    src="/images/facebook.png"
                    alt="Facebook"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/netflix.png"
                    alt="netflix"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/google.png"
                    alt="google"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/flipkart.png"
                    alt="flipkart"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/amazon.png"
                    alt="amazon"
                    height="40px"
                    width="80px"
                />
            </li>
            <li>
                <img
                    src="/images/prime.png"
                    alt="prime"
                    height="40px"
                    width="80px"
                />
            </li>
        </ul>
    </div>
</section>
